h1{
    position: absolute;
    top: 22%;
    left:20%;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: purple;
    font-size:28px;
    font-weight:bold;
    
}

h2{
    
}

